.btn {
  background-color: lightgray;
}

#csharpShow {
  display: none;
}

#rrShow {
  display: none;
}

#cssShow {
  display: none;
}

.right {
  float: right;
  width: 200px;
  height: 130px;
}

.result {
  width: 550px;
}

h1 {
font-weight: bold;
text-decoration: underline;
text-align: center;
}

h3 {
  text-align: center;
}

.well {
  width: 1200px;
}

.row {
  width: 1200px;
}

.endtext {
  font-size: 20px;
  font-weight: bold;
  margin-top: 80px;

}

.jumbotron {
  text-align: center;
}
